.desktop {
    .app-controls {
        width: 30%;
        padding: 1em;
    }
}

.tablet {
    .app-controls {
        width: 50%;
    }
}

.mobile {
    .app-controls {
        width: 100%;
    }
}

.app-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 2px 0 blue;
}