<div class="app-controls">
  <nam-button namClass='nam-button large border-none' text='large button'></nam-button>
  <nam-button namClass='nam-button normal border-none' text='normal button'></nam-button>
  <nam-button namClass='nam-button small border-none' text='small button'></nam-button>
  <nam-select [namOptions]='templateOptions' (change)='selectContent($event)'></nam-select>
  <div *ngIf='bodyShowing'>
    <div>Layout for:
      <nam-select [namOptions]='layourOptions' (change)='selectControlsForLayout($event)'></nam-select>
    </div>
    <div *ngIf='layouSelected === layout.Header'>
      <app-controls-header></app-controls-header>
    </div>
    <div *ngIf='layouSelected === layout.Main'>
      <app-controls-main></app-controls-main>
    </div>
    <div *ngIf='layouSelected === layout.Footer'>
      <app-controls-footer></app-controls-footer>
    </div>
  </div>
</div>
