@import '../style/nam.variables.scss';

.nam-select {
    background-color: $color-black;
    color: $color-white;
    height: $btn-size-small;
    cursor: pointer;
    padding: $pm-025;
}

.nam-select:hover {
    background-color: $color-blue;
}
